<h3>Org Repos</h3>
<ul>
  <li>{{link-to 'repo_name_1' 'org.repo.issues' 'repo_name_1'}}</li>
  <li>{{link-to 'repo_name_2' 'org.repo.issues' 'repo_name_2'}}</li>
  <li>{{link-to 'repo_name_3' 'org.repo.issues' 'repo_name_3'}}</li>
</ul>
