<h3 style='text-transform: capitalize;'>{{org.id}} repos</h3>
<ul>
  {{#each model as |repo|}}
  {{github-repo repo=repo}}
  {{else}}
    <li>Sorry, you have no repos</li>
  {{/each}}
</ul>
{{outlet}}
