<div style="float:right;">{{link-to 'Back to List of Orgs' 'orgs'}}</div>
<h2 style='text-transform: capitalize;'>
  <img src={{model.avatar_url}} alt="avatar" height='24'>
  {{model.name}}
</h2>
{{outlet}}
